[Unit]
Description=Calvin and Hobbes
After = network.target auditd.service

[Service]
ExecStart=/home/root/renews.arm \
    -output /usr/share/remarkable/suspended.png \
    -test \
    -verbose \
    -url https://www.gocomics.com/random/calvinandhobbes \
    -xpath '//picture[@class="item-comic-image"]/img/@src' \
    -mode fill \
    -scale 0.9
Type = simple

[Install]
WantedBy=multi-user.target
